@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap');

.header{
    background-color: #3B3734;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-size: 10px;
}

.header a{
    text-decoration: none;
    color: #AD9883;
}

.header a:hover{
    transform: scale(1.1);
    transition: 1s;
    color: white;
}

.header a:not(hover){
    transform: scale(1);
    transition: 0.5s;
}


.perfil {
    position: relative;
    display: flex;
    height: 540px;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
    background-color: #1f100384;
}

.perfil::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/janela_escritorio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    transform: scale(1.1);
}

.perfil-foto {
    width: 450px;
    height: 450px;
    padding-top: 90px;
    position: relative;
}

.perfil-textos {
    padding-left: 100px;
    position: relative;
}

.perfil-textos h1 {
    font-size: 50px;
}

.perfil-textos h2{
    font-weight: lighter;
    align-items: center;
}


* {
    margin: 0;
}


.sobre1{
    background-color: white;
    height: 20em;
    color: #3B3734;
    align-content: center;
    justify-items: center;
    text-align: justify;
    font-size: 1em;
    padding-inline: 8em;
    padding-bottom: 5em;
}
.destaque{
    color: #a1a703;
}
.sobre1 h3{
    padding-block: 0.3em;
    font-weight: 100;
}
.sobre1 h1{
    padding: 1em;
    font-size: 2.5em;
    color: #a1a703;
}
.sobre h2{
    padding-bottom: 1em;
    font-weight: 400;
}
.sobre-texto{
    display: flex;
    gap: 8em;
    justify-content: baseline;
}

.sobre2{
    background-color: #6C5C4D;
    height: 32em;
    color: white;
}
.soft_skills{
    padding: 2em 2em 4em 2em;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.caracteristica{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre2 h1{
    justify-self: center;
    padding-block: 1.5em;
}
.sobre2 h2{
    font-weight: 600;
    font-size: 1.8em;
}
.sobre2 h3{
    font-weight: 100;
}
.sobre2 img{
    width: 50em;
    border-radius: 15px;
}
.sobre_imagem{
    justify-self: center;
}





@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.certf-fotos, .certificacoes h1, .certificacoes-fotos h3{
    animation: appear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    text-align: center;
}

.perfil img, .perfil-textos{
    animation: fadein 1s ease-in;
}



.certificacoes h1{
    justify-self: center;
    padding-top: 2em;
    font-weight: bold;
    color: #6C5C4D;
    font-size: 3em;
}

.certificacoes-fotos img{
    height: 110px;
    width: 180px;
    border: 2px solid #6C5C4D;
    display: block;
    margin: 0 auto 10px;
}
.certificacoes-fotos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10em 0;
    justify-items: center;
}
.certificacoes-fotos > div {
    grid-column: span 2;
    padding: 1em;
}

.certificacoes-fotos > div:nth-child(3) {
    grid-column: 2 / span 2;
}
.certificacoes-fotos img:last-child{
    grid-column: 2;
}



.portfolio{
    justify-items: center;
    padding: 1rem;
    background-color: #F9F3E7;
    height: 37em;
}

.carrossel{
    padding-top: 3em;
    position: relative;
    max-width: 48rem;
}
.portfolio-carrossel{
    border-radius: 5px;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0.5rem 3rem -0.75rem #3B3734;
}
.portfolio-carrossel img{
    width: 30em;
    object-fit: cover;
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.portfolio-carrossel::-webkit-scrollbar{
    display: none;
}

.nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #3B3734;
    border: solid;
    border-color: #6C5C4D;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.nav a:hover{
    opacity: 1;
}
.portfolio-texto{
    justify-self: center;
    padding: 30px 0 0 0;
    color: #6C5C4D;
    font-size: 3rem;
    position: relative;
}

.portfolio-texto::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #6C5C4D;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.portfolio-texto:hover::after{
    transform: scaleX(1);
}





footer{
    background-color: #3B3734;
    color: #AD9883;
    padding: 40px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    padding: 2em 0;
    gap: 2em;
}

.email{
    justify-items: center;
}

.footer h3{
    justify-self: center;
    font-weight: lighter;
}

.footer h2{
    padding-top: 0.5em;
    font-weight: lighter;
}

.footer img{
    height: 3em;
    width: 3em;
    aspect-ratio: 1;
}